<div class="container">
  <a href="/">Generate another url?</a>
  <h1>Here's your URL</h1>
  <p>Click on link belooooow.</p><br>
  <a href='http://127.0.0.1:9393/<%= @sh_url %>'>http://127.0.0.1:9393/<%= @sh_url %></a>
  <p>Click count is: <%= @count %></p>
</div>
