<div class="container">
  <h1>URL shortener</h1>
  <p>Please enter a url:</p>

  <form action='/' method='post'>
  <input type='text' placeholder='Enter Url' name='url'>
  <input type='submit' value='Go'>
  </form>

</div>
